# ======================================================
# Python
# ======================================================
__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environment
# ======================================================
.venv/
venv/
env/

# ======================================================
# Environment Variables
# ======================================================
.env

# ======================================================
# Logs
# ======================================================
logs/
*.log

# ======================================================
# IDE
# ======================================================
.vscode/
.idea/

# ======================================================
# Jupyter
# ======================================================
.ipynb_checkpoints/

# ======================================================
# Operating System
# ======================================================
.DS_Store
Thumbs.db

# ======================================================
# Testing & Coverage
# ======================================================
.pytest_cache/
.coverage
htmlcov/

# ======================================================
# Build
# ======================================================
build/
dist/
*.egg-info/

# ======================================================
# Misc
# ======================================================
*.tmp
*.bak


# ======================================================
# Data & State Files
# ======================================================
# Ignore all CSV files in the data folders
data/**/*.csv

# Ignore the pipeline state tracking file
data/raw/.processed_batches
